body, html {
  height: 100%;
  margin: 0; }

p {
  margin: 10px auto; }

._3RAvOJKyEOhhZalsG8I4bA {
  text-align: center;
  height: 50%; }

._3GPw6UCPY0DjaxYqquMgI8 {
  outline: none;
  width: 250px; }

